html
{
    font-size: 62.5%;
}
body
{
    padding: 0;
    margin: 0;
    background-color: hsl(212, 45%, 89%);
    font-size: 1.5rem;
}
section
{
    display: grid;

    place-items: center;
    min-height: 100vh;

}
.flex
{
    min-width: 30ch;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 5%;
    padding: 10px;
}
.img>img
{
    border-radius: 5%;
}
.text
{
    
    width: 25ch;
    text-align: center;
    font-family: 'Outfit', sans-serif;
}
p
{
    opacity: 0.5;
}
